/* src/styles/global.css */

/* 1. CARGA DE FUENTES (Rutas directas a carpeta public, sin /fonts/) */
@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('/ClashDisplay-Light.woff') format('woff');
  font-weight: 300; font-style: normal; font-display: swap;
}

/* 2. VARIABLES GLOBALES */
:root {
  --color-firma: #1F4037;
  --color-oro: #8A704D;
  --bg-color: #FDFDFB;
  
  /* Mapeo de Fuentes */
  --font-apellidos: 'ClashDisplay-Semibold', serif; 
  --font-descriptor: 'ClashDisplay-Light', sans-serif;
  --font-mono: 'B612 Mono', monospace; 
  --font-body: 'Inter', sans-serif;
  --font-serif: 'Libre Baskerville', serif;
}

body {
  margin: 0; padding: 0;
  background-color: var(--bg-color);
  color: var(--color-firma);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}
